# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# macOS
.DS_Store

# Data files (décommenter si besoin)
# *.csv
# *.xlsx
# data/
